<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5 class="location-header">Team Announcement</h5>
    </div>
  </div>
  <hr class="location_line"/>
  <div class="container">
    <%= render 'form' %>
  </div>
</div>
<script src = "https://deploy.userpilot.io/24xk34u10.js"></script>
<script>
  userpilot.identify(

    "<%= @user.objectId %>", // Used to identify users
    {
     name: "<%= @user.firstname %> <%= @user.lastname %>", // Full name
     email: "<%= @user.email %>",
     created_at: "<%= @user.createdAt %>"// Email address
    }
  );  
</script>
