<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mr-auto ml-auto">
      <div class="card">
        <div class="card-body account_card">
          <h5>Change Password</h5>
          <%= simple_form_for @user,
                              :url => password_path, :method => :put,
                              :html => {:class => 'form-horizontal user-form'},
                              wrapper: :horizontal_form,
                              wrapper_mappings: {
                                  file: :horizontal_file_input,
                              } do |f| %>
              <hr>
              <%= f.input :old_password, :required => true %>
              <%= f.input :password, :required => true, :input_html => {:minlength => 6 } %>
              <%= f.input :password_confirmation, :required => true, :input_html => {:minlength => 6 } %>
              <hr>
              <div class="row">
                <div class="col">
                  <div class='float-right'>
                    <%= f.button :submit, 'Update', :class => 'btn btn-primary edit-submit-button' %>
                  </div>
                  <div class="edit-cancel-link float-right" style="margin-right: 75px; margin-top: 10px;">
                    <%= link_to 'Cancel', :back %>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
