<% if @past_campaigns.present? %>
  <div class="row" style="margin-top: 40px;">
    <div class="col">
      <h5 class="dashboard-header">Past Campaigns from <%=DateTime.now.prev_month.beginning_of_month.strftime("%B")%> <%=DateTime.now.prev_month.beginning_of_month.year%></h5>
    </div>
  </div>
  <hr class="dashboard_line"/>
  <div class ="row">
    <% counter = 0 %>
    <% @past_campaigns.each do |campaign| %>
      <% if campaign.created_at.between?(DateTime.now.prev_month.beginning_of_month , DateTime.now.beginning_of_month) %>
        <% break if counter == 6 %>
        <div class="col-12 col-md-3">
          <div class="card">
            <div style="height: 100%;">
              <% if campaign.photo_url.present? %>
                <img
                  src="<%= campaign.photo_url %>"
                  class="new-campaign-image-card-image"
                  alt="Campaign Image"
                />
              <% else %>
                <img
                  src="<%= asset_path('generic_campaign.png') %>"
                  alt="Campaign Image"
                />
              <% end %>
            </div>
            <div class="new-campaign-image-card-bottom-box">
              <h6 style="overflow: hidden; white-space: nowrap;">
                <% if campaign.offer_title.present? %>
                  <a class="new-campaign-image-card-bottom-text" href="<%= campaign_path(campaign) %>"><%= campaign.offer_title %></a>
                <% else %>
                  <a class="new-campaign-image-card-bottom-text" href="<%= campaign_path(campaign) %>">Campaign</a>
                <% end %>
              </h6>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
